server:
    port: 8085

spring:
    application:
        name: job-manager-subscription

    datasource:
        url: ${POSTGRES_SUBSCRIPTION_URL}
        username: ${POSTGRES_SUBSCRIPTION_USERNAME}
        password: ${POSTGRES_SUBSCRIPTION_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            auto-commit: false

    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                jdbc:
                    batch_size: 20
                order_inserts: true
                order_updates: true

    kafka:
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        consumer:
            group-id: subscription-service-group
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring.json.trusted.packages: "*"
        properties:
            sasl.mechanism: ${SPRING_KAFKA_PROPERTIES_SASL_MECHANISM:PLAIN}
            security.protocol: ${SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL:PLAINTEXT}
            sasl.jaas.config: ${SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG:}
            session.timeout.ms: ${SPRING_KAFKA_PROPERTIES_SESSION_TIMEOUT_MS:45000}
            client.id: ${SPRING_KAFKA_CLIENT_ID:subscription-service-client}

eureka:
    client:
        service-url:
            defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}
        fetch-registry: true
        register-with-eureka: true
    instance:
        prefer-ip-address: true
        health-check-url-path: /actuator/health

management:
    endpoints:
        web:
            exposure:
                include: health,info,metrics
            base-path: /actuator
    endpoint:
        health:
            show-details: always
            probes:
                enabled: true
    health:
        livenessstate:
            enabled: true
        readinessstate:
            enabled: true
